.fas {
  margin-right: 10px;
}

.navbar {
  background: #ff7675;
}

.navbar-brand {
  font-family: 'Cedarville Cursive', cursive;
  color: white !important;
}

.navbar-nav a {
  color: white !important;
  font-size: 20px;
}
.showoff {
  margin-top: 15px;
}

.demo-text {
  margin-top: 30px;
}
.jumbotron-heading {
  font-size: 25px;
  color: #ff7675;
  font-family: 'Cedarville Cursive', cursive;
}

.text-muted {
  font-size: 18px;
  font-family: arial;
}

.recipe {
  padding: 40px;
}

.food-img {
  max-width: 100%;
  margin-bottom: 15px;
  border-radius: 3px;
}
.recipe .text-muted {
  margin: 0;
}
.recipe-text {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.close {
  position: fixed;
  top: 50px;
  right: 50px;
}
.modal-content {
  padding-left: 0;
  padding-right: 0;
  flex: 1;
}
.card-img-top {
  max-width: 100%;
}
#show-on-scroll {
  display: none;
}
footer {
  display: flex;
  height: 200px;
  background: #ff7675;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.link-container {
  display: flex;
}
.link-container p a{
  margin-left: 10px;
  color: white;
}

footer p a:hover {
  color: white;
}
